.pic {
    display: block;
    width: 700px;
    height: auto;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.logo {
    width: 400px;
    height: auto;
    display: block;
    margin: 30px;
    margin-top: 50px;
}

.products {
    width:150px;
    font-weight: bold;
    font-size: 26px;
    color: black;
    background-color: yellow;
    text-decoration:underline none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;
color: black;}

.cart{
    font-size: 26px;
    margin-bottom: 100px;
    color: black;
}

.text{
    font-size: 40px;
    margin-bottom: 50px;
}

.customize{
    width: 350px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    font-size: 26px;
    color: black;
}
.textSmall{
    width: 350px;
    text-align: left;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    color: black;
}

.dropdown{
    display: block;
    width: 350px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    color: black;
}

select {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 330px;
    border: 3px solid black;
    display: inline-block;
    line-height: 26px;
    font: inherit;
    padding: 10px 15px 10px 15px;
  }
  

hr {
    position: relative;
    top: 0px;
    border: none;
    height: 2.5px;
    background: black;
    margin-bottom: 20px;
}

.checkout{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    font-size: 26px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.addToCart{
    font-size: 26px;
    display: flex;
    background-color: yellow;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}